// local
{
  "URL_BACKEND_V1_DEV": "http://localhost:2000/api/v1",
  "URL_IMAGES_DEV": "http://localhost:2001/api/v1"
}

// development (server)
{
  "URL_BACKEND_V1_DEV": "http://185.210.144.158:2000/api/v1",
  "URL_IMAGES_DEV": "http://185.210.144.158:2001/api/v1"
}
{
  "URL_BACKEND_V1_DEV": "https://api-test-dev-dashboard.saoherbal.com/api/v1",
  "URL_IMAGES_DEV": "https://api-test-dev-dashboard.saoherbal.com/file"
}

// production (server)
{
  "URL_BACKEND_V1_DEV": "https://api-dashboard.saoherbal.com/api/v1",
  "URL_IMAGES_DEV": "https://api-dashboard.saoherbal.com/file"
}